header nav:not(:empty){
    text-align: right;
}

.common-footer {
    padding-top: 0;
    color: var(--post-info-color);
}

a.language-link {
    color: var(--link-color);
    text-decoration: underline;
}


